:root {
    --default: #1698D9;
    --hover: #2EA8E6;
    --selected: #D91667;
    --hoverSelected: #E52E7A;
    --black: #000000;
    --gray: #666666;
    --grayDescription: #666666;
    --outOfStock: #B3B3B3;
}

.food-card_theme_fade {
    --black: var(--outOfStock);
    --gray: var(--outOfStock)
}

/* Стиль для ВЫБРАННОЙ доступной карточки с помощью TAB */
.food-card:focus-visible[data-out-of-stock="false"] {
    --default: var(--hover)
}

/* Стиль для КРАСНОГО ТЕКСТА при ВЫБОРЕ доступной карточки с помощью TAB */
.food-card:focus-visible[data-show-red-text="true"][data-selected="true"][data-out-of-stock="false"] {
    --grayDescription: var(--hoverSelected);
    --default: var(--hoverSelected)
}

/* Стиль для НЕДОСТУПНОЙ карточки */
.food-card[data-out-of-stock="true"] {
    --default: var(--outOfStock)
}

/* Стиль в случае НАВЕДЕНИЯ на кнопку "Купи" у доступной карточки */
.food-card[data-out-of-stock="false"][data-hovered-buy-btn="true"] {
    --default: var(--hover)
}

/* Стиль для состояния НАВЕДЕНИЯ доступной карточки */
.food-card:hover[data-out-of-stock="false"] {
    --default: var(--hover)
}

/* Стиль для состояния НАВЕДЕНИЯ кнопки "Купи" у доступной карточки */
.food-card:hover ~ .food-infolist__description .food-infolist__buy-btn {
    --default: var(--hover);
}

/* Стиль для ВЫБРАННОЙ карточки */
.food-card[data-selected="true"][data-out-of-stock="false"] {
    --default: var(--selected);
}

/* Стиль для состояния НАВЕДЕНИЯ ВЫБРАННОЙ карточки */
.food-card:hover[data-show-red-text="true"][data-selected="true"][data-out-of-stock="false"] {
    --grayDescription: var(--hoverSelected);
    --default: var(--hoverSelected)
}

/* Стиль для показа курсора Pointer для доступный карточек */
.food-card:hover[data-out-of-stock="false"] {
    cursor: pointer;
}

.food-card {
    position: relative;
    padding: 18px 59px 12px 43px;
    display: flex;
    align-items: initial;
    flex-direction: column;
    min-height: 480.39px;
    background: url('../../assets/cat.jpg') #F2F2F2 no-repeat 47% 181.5%;
    clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    border: var(--default) 4px solid;
    border-radius: 12px;
    box-sizing: border-box;
    outline: 0;
}

.food-card::before {
    top: -15px;
    content: '';
    position: absolute;
    width: 9px;
    height: 60px;
    left: 9px;
    transform: rotateZ(45deg);
    border-right: var(--default) 5px solid;
    z-index: 1;
}

.food-card_theme_fade::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background: #FFFFFF;
    opacity: 0.25;
}

.food-card__description {
    margin-bottom: 5px;
    color: var(--grayDescription);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.food-card__title {
    display: flex;
    color: var(--black);
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
}

.food-card__taste {
    transform: translateX(2px);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.food-card__benefit-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray);
}

.food-card__bold-portion {
    font-weight: 700;
}

.food-card__food-weight-circle {
    display: flex;
    transform: translateX(47.5px);
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    align-self: flex-end;
    color: #FFFFFF;
    background-color: var(--default);
    border-radius: 50px;
    z-index: 1;
}

.food-card__food-weight-kg {
    font-size: 20px;
    transform: translateY(10px);
}

.food-card__food-weight-title {
    transform: translateY(11px);
    font-size: 42px;
}