.food-section {
    background: url('../../assets/background.jpg') no-repeat;
    background-size: cover;
}

.food-section__container {
    padding: 41px 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-infolist {
    display: flex;
    flex-wrap: wrap;
}

.food-infolist__item {
    margin-bottom: 35px;
    max-width: 320.27px;
    outline: 0;
}

.food-section__heading {
    margin-bottom: 27px;
}

.food-section__item:not(:nth-child(3n)):not(:last-child) {
    margin-right: calc((100% - 320.266px * 3) / 2);
}

@media screen and (max-width: 1180px) {
    .food-infolist {
        justify-content: space-evenly;
    }


    .food-section__item:not(:nth-child(3n)):not(:last-child) {
        margin-right: 0;
    }

    .food-section__item:not(:nth-child(2n)):not(:last-child) {
        margin-right: 60px;
    }
}

@media screen and (max-width: 870px) {
    .food-section__item:not(:nth-child(2n)):not(:last-child) {
        margin-right: 0;
    }

    .food-infolist {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 760px) {
    .food-section__container {
        padding: 41px 15px;
    }
}