.food-infolist__description {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.food-infolist__buy-btn {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    line-height: 13px;
    font-size: 13px;
    border: 0;
    color: var(--default);
}

.food-infolist__buy-btn:hover {
    color: var(--hover);
}

.food-infolist__buy-btn_text-decoration-dashed {
    text-decoration: underline dashed;
    cursor: pointer;
}

.food-infolist__out-of-stock-title {
    color: #FFFF66
}

